body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}


header {
    display:unset;
}

.navigation {
	display: flex;
	justify-content: space-around;
	list-style: none;
	position:sticky;
	top:0;

}

.navigation li {
  margin-left: 0;
  padding-left: 0;
}

@media screen and ( min-width: 768px ) {
  .navigation {
    	font-size: 20px;
  }
}

.hero-banner {
	background: #cdcdcd;
	padding: 20px 25px;
}

h2{
    color: white;
}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.card {
    display: grid;

	padding: 15px 25px;
	margin-top: 15px;
	color: white;
}

.global-footer {
	background-color:black;
	padding: 15px 25px;
	margin-top: 15px;
	 text-align:center;
}


.class{
    color:white;

}

.trivia-cards {
	display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        max-width: 100%;

}

.trivia-card {
	padding: 15px;
	color:white;

}
.trivia-card img {
    width: 400px;
    height: auto;
    margin-right: 30px;
}

.bold{
    font-weight:bold;
}

.card img{

    width: 200px;
    height: auto;
    margin-right: 10px;
}
.center-text {
	text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
  background-color: yellow;
  color: black;
}

h1{
    font-size:50px;
    color: white;
    text-align: center;
}

.hero-banner{
    padding-top: 0px;
    background:black;
    text-align: center;
}

#join{
    background-color: red;
     color:white;
     padding:10px;
     padding-right: 30px;
     padding-left: 30px;
}

.schedule{
    background-color: white;
     padding:8px;
     font-weight: bold;
}

#small{
   color:white
}

/* Set background color for the table */
table {
    background-color: transparent; /* Change to the desired background color for the table */
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    color: white; /* Set the text color to white */
}

/* Apply alternating row colors */
tr:nth-child(odd) {
    background-color: black;
}

tr:nth-child(even) {
    background-color: gray;
}

.character-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.character-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px; /* Set the maximum width for each character block */
}

.character-info img {
    width: 100%;
    max-width: 200px; /* Set the maximum width for the image */
    height: auto;
    margin-bottom: 10px;
}

